.header {
  background: #0045b2;
  padding: 15px 0 15px 0;

  .headerContent {
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .navbar__socials i {
        color: #ffffff;
        margin: 0 10px;
      }

      a {
        span {
          img {
            width: 150px !important;
          }
        }
      }
    }
  }
}

.category {
  margin-top: 30px;

  form {
    .category__btn {
      opacity: 0;
      display: contents;
    }

    label {
      color: #45495db4;
      padding: 10px 20px;
      border: 1px solid #45495d80;
      border-radius: 20px;
      margin: 10px;
      font-size: 15px;
      transition: .3s ease;

      &:hover {
        cursor: pointer;
        border-color: #0045b2;
        transform: scale(1.1);
        background: #0045b2;
        color: white;
      }
    }
  }
}

@media (max-width: 1024px) {
  .header .headerContent .navbar .navbar__search {
    width: 521px;
  }
}

@media (max-width: 992px) {
  #header {
    .navbar {
      .navbar__search {
        width: 500px;
      }
    }
  }
}

@media (max-width: 768px) {
  .header .headerContent .navbar .navbar__search {
    width: 321px;
  }


}

@media (max-width: 576px) {
  .header {
    .headerContent {
      .navbar {
        a {
          span {
            img {
              width: 120px !important;
            }
          }
        }

        .navbar__search {
          width: 200px;
          padding: 8px;
          height: 30px;
        }
      }
    }
  }

  .category {
    width: 100%;
    form {
      display: grid;
      grid-template-columns: 30% 30% 30% 30% 30% 30%;
      width: 100%;
      height: auto;
      padding:5px 0;
      overflow-x: scroll;
      label {
        color: #45495E;
        padding: 8px 20px;
        border: 1px solid #45495E;
        border-radius: 40px;
        margin: 10px;
        font-size: 14px;
        text-align: center;
      }
    }
  }


}


@media (max-width: 414px) {
  .header {
    .headerContent {
      .navbar {
        display: flex;
        flex-direction: column;

        a {
          span {
            img {
              width: 150px !important;
            }
          }
        }

        .navbar__search {
          width: 350px;
          padding: 8px;
          height: 30px;
          margin: 10px 0;
        }

        .navbar__socials {
          display: none;
        }
      }
    }
  }
  .category {
    width: 100%;
    form {
      display: grid;
      grid-template-columns: 40% 40% 40% 40% 40% 40%;
      label {
        font-size: 13px;
        margin: 0 10px;
      }
    }
  }
}


@media(max-width: 375px) {
  .category {
    form {
      display: grid;
      grid-template-columns: 40% 40% 40% 40% 40% 40%;
      label {
        font-size: 16px;
        padding: 0;
        border: none;
        &:hover{
          background: none;
          color: indigo;
        }
      }
    }
  }
}
