#most-read {
  background: #E0DEDE;

  
    .interestingH2 {
      font-size: 30px;
      font-weight: 600;
      color: #c70100;
    }


  .slick-slider {
    overflow: hidden;
    position: relative;


    .slick-list {
      .slick-track {
        display: flex;

        .slick-slide {
          display: flex;
          flex-direction: column;
          margin: 50px 10px;
          background: #FFFFFF;
          box-shadow: -10px -10px 60px rgba(68, 68, 68, 0.06), 6px 10px 60px rgba(68, 68, 68, 0.06);
          border-radius: 10px;

          div {
            .item {
              .card-img {
                img {
                  width: 100%;
                  height: 170px;
                  object-fit: cover;
                }

                iframe {
                  width: 100%;
                  height: 170px;
                  object-fit: cover;
                }
              }

              .bottom-card {
                padding: 10px 20px;

                span {
                  margin-bottom: 10px;
                }

                h2 {
                  margin: 10px 0;
                }

                h4 {
                  font-size: 20px;
                  padding: 10px 0;
                  font-weight: 500;
                  line-height: 21px;
                  letter-spacing: 1px;

                  &:hover {
                    cursor: pointer;
                    color: crimson;
                  }
                }

                .bottom {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  margin-top: 20px;

                  .p1 {
                    padding: 5px 0;
                    font-size: 12px;

                  }

                  .box {
                    display: flex;
                    align-items: center;

                    p {
                      margin-left: 5px;
                      font-size: 12px;
                    }
                  }
                }
              }
            }

            .bottom-card {
              h4 {
                width: 100% !important;
                height: 140px !important;
              }
            }
          }

        }
      }
    }

  }
}


@media (max-width: 1024px) {
  #most-read {
    .item {
      .card-img {
        iframe {
          width: 210px !important;
          height: 137px;
        }
      }
    }
  }
}


@media (max-width: 992px) {

}


@media (max-width: 768px) {
  #most-read {



    .item {
      .card-img {
        img {
          width: 210px !important;
          height: 137px;
        }
        iframe {
          width: 210px !important;
          height: 137px;
        }
      }
    }

    .slick-slider {
      .slick-list {
        .slick-track {
          .slick-slide {
            div {
              .item {
                .bottom-card {
                  padding: 10px;
                  height: 220px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #most-read {
    .item {
      .card-img {
        img {
          width: 240px !important;
          height: 137px;
        }
        iframe {
          width: 240px !important;
          height: 137px;
        }
      }
    }
  }
}

@media (max-width: 425px) {

}

@media (max-width: 414px) {
  #most-read {
    padding-bottom: 30px;
    .interestingH2 {
      font-size: 24px;
      padding-top: 20px;
    }


    .slick-slider {
      .slick-list {
        .slick-track {
          .slick-slide {
            div {
              .item {
                .bottom-card {}

                .card-img {
                  img {
                    width: 100% !important;

                    height: 200px !important;
                    object-fit: cover;
                  }

                  iframe {
                    width: 270px !important;
                    height: 200px !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 375px) {
  #most-read {

    .interestingH2 {
      font-size: 24px;
      margin: 0;
    }



    .item {
      .card-img {
        img {
          width: 318px !important;
          height: 167px;
        }
        iframe {
          width: 318px !important;
          height: 167px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #interesting{

  }
}