#most-read {
  background: #E0DEDE;
    .interestingH2 {
      font-size: 30px;
      font-weight: 600;
      color: #c70100;
    }


  .slick-slider {
    overflow: hidden;
    position: relative;


    .slick-list {
      .slick-track {
        display: flex;

        .slick-slide {
          display: flex;
          flex-direction: column;
          margin: 50px 10px;
          background: #FFFFFF;
          box-shadow: -10px -10px 60px rgba(68, 68, 68, 0.06), 6px 10px 60px rgba(68, 68, 68, 0.06);
          border-radius: 10px;

          div {
            .item {
              .bottom-card {
                padding: 10px 20px;
                height: 230px;

                span {
                  margin-bottom: 10px;
                }

                h2 {
                  margin: 10px 0;
                }

                h4 {
                  font-size: 20px;
                  padding: 10px 0;
                  font-weight: 500;
                  line-height: 21px;
                  letter-spacing: 1px;

                  &:hover {
                    cursor: pointer;
                    color: #f39453;
                  }
                }
              }
              .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .p1 {
                  padding: 5px 0;
                  font-size: 12px;

                }

                .box {
                  display: flex;
                  align-items: center;

                  p {
                    margin-left: 5px;
                    font-size: 12px;
                  }
                }
              }
            }
          }

        }
      }
    }

  }
}

@media screen and (max-width: 768px) {
  #most-read {
    .slick-slider {
      .slick-list {
        .slick-track {
          .slick-slide {
            div {
              .item {
                .bottom-card {
                  padding: 10px;
                  height: 220px;
                }
              }
            }
          }
        }
      }
    }
  }
}



@media screen and (max-width: 414px) {
  #most-read {
    padding-bottom: 30px;
    .interestingH2 {
      font-size: 24px;
      padding-top: 20px;
    }

  }
}


@media screen and (max-width: 375px) {
  #most-read {

    .interestingH2 {
      font-size: 24px;
      margin: 0;
    }
  }
}
