#most-read {
  padding-top: 2px;
  padding-bottom: 20px;
  background: #E0DEDE;

  .mostRead {
    font-size: 30px;
    color: #c70100;
    margin: 40px 0 0 0;
  }

  a {
    font-size: 14px;
    text-decoration: none;
    color: #45495E;
    padding: 6px 20px;
    border: 1px solid #45495E;
    border-radius: 40px;
    transition: .3s ease;
    margin-right: 20% !important;
    z-index: 999;

    &:hover {
      cursor: pointer;
      border-color: #0045b2;
      transform: scale(1.1);
      background: #0045b2;
      color: white;
    }
  }

  .mostSlider {
    margin-top: -2.5%;
    z-index: 3;
  }

  .linkMost {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  .linkMost1{
    a{
      display: none;
    }
  }

  .slick-slider {
    overflow: hidden;
    position: relative;

    .slick-prev {
      position: absolute;
      font-size: 0;
      width: 30px !important;
      height: 30px;
      left: 85% !important;
      box-sizing: border-box;
      border-radius: 60px;
      z-index: 99;
      top: 16px;
      margin: 0 !important;
    }

    .slick-next {
      position: absolute;
      right: 29px !important;
      font-size: 0;
      width: 30px !important;
      height: 30px;
      top: 16px;
      box-sizing: border-box;
      border-radius: 60px;
      z-index: 99;

      margin: 0 !important;
      left:  95% !important;
    }

    .slick-list {
      .slick-track {
        display: flex;

        .slick-slide {
          display: flex;
          flex-direction: column;
          margin: 50px 10px;
          background: #FFFFFF;
          box-shadow: -10px -10px 60px rgba(68, 68, 68, 0.06), 6px 10px 60px rgba(68, 68, 68, 0.06);
          border-radius: 10px;

          div {
            .item {
              .card-img {
                .blockImg{
                  height: 180px;
                  img {
                    width: 100% !important;
                    height: 100% !important;
                    object-fit: cover;
                  }
                  iframe {
                    width: 100% !important;
                    height: 100% !important;
                    object-fit: cover;
                  }
                }
              }

              .bottom-card {
                padding: 10px 20px;

                span {
                  margin-bottom: 10px;
                }

                h2 {
                  margin: 10px 0;
                }

                h4 {
                  font-size: 20px;
                  padding: 10px 0;
                  font-weight: 500;
                  line-height: 21px;
                  letter-spacing: 1px;

                  &:hover {
                    cursor: pointer;
                    color: #f39453;
                  }
                }
              }

              .bottom {
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .p1 {
                  padding: 5px 0;
                  font-size: 12px;

                }

                .box {
                  display: flex;
                  align-items: center;

                  p {
                    margin-left: 5px;
                    font-size: 12px;
                  }
                }
              }
            }
          }

        }
      }
    }
  }


}

@media (max-width: 1024px) {
  #most-read {
    a {
      margin-right: 15%;
    }

    .mostSlider {
      margin-top: -3%;
    }

    .slick-slider {
      .slick-prev {
        left: 86%;
      }
    }
  }
}

@media (max-width: 992px) {
  #most-read {
    a {
      left: 65%;
    }

    .slick-slider {
      .slick-prev {
        left: 86%;
      }
    }
  }
}

@media (max-width: 768px) {
  #most-read {
    .mostSlider {
      margin-top: -4%;
    }

    .slick-slider {
      .slick-list {
        .slick-track {
          .slick-slide {
            div {
              .item {
                .bottom-card {

                  h4 {
                    padding: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.linkMost1 {
  display: none;
}

@media (max-width: 576px) {
  #most-read {
    .mostRead {
      font-size: 24px;
    }

    & a {
      margin-right: 25%;
      margin-top: -6%;
    }

    .linkMost {
      display: none;
    }

    .linkMost1 {
      a{
        display: block;
      }
      width: 100%;
      position: relative;
      display: flex;
      justify-content: start;
      margin-left: 3%;
    }

    .mostSlider {
      margin-top: -3%;
    }

    .slick-slider {
      .slick-prev {
        width: 25px !important;
        height: 25px;
        left: 75% !important;
        margin-top: 99% !important;
      }

      .slick-next {
        width: 25px !important;
        height: 25px;
        margin-top: 99% !important;
        left: 90% !important;
      }
    }
  }
}

@media (max-width: 414px) {
  #most-read {
    .linkMost1 {
      margin-left: 3%;
      display: flex;
      justify-content: start;
    }

    & a {
      margin-top: -8%;
    }

    .mostRead {
      font-size: 24px;
      margin-top: 10px;
    }

    .slick-slider {
      .slick-prev {
        left: 70%;
        margin-top: 138% !important;
      }

      .slick-next {
        margin-top: 138% !important;
        right: 0;
      }

      .slick-list {
        .slick-track {
          .slick-slide {
            div {
              .item {
                .bottom-card {
                  h4 {
                    margin-top: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


@media (min-width: 390px) {
  #most-read {
    .slick-slider {
      .slick-prev {
        left: 69%;
        margin-top: 146% !important;
      }

      .slick-next {
        left: 83%;
        margin-top: 146% !important;
      }

      .slick-dots {
        font-size: 0 !important;
      }
    }
  }
}


@media (min-width: 375px) {
  #most-read {
    .linkMost1 {
      display: flex;
      justify-content: start;
    }

    .mostRead {
      font-size: 24px;
      margin: 0;
      padding-top: 10px;
    }

    a {
      font-size: 12px;
      margin-left: 3%;
    }

    .slick-slider {
      .slick-prev {
        left: 69% !important;
        margin-top: 152% !important;
      }

      .slick-next {
        left: 83% !important;
        margin-top: 152% !important;
      }

      .slick-dots {
        font-size: 0 !important;
      }
    }
  }
}

@media (min-width: 320px) {
  #most-read {
    .slick-slider {
      .slick-prev {
        left: 65% !important;
        margin-top: 179% !important;
      }

      .slick-next {
        left: 80% !important;
        margin-top: 179% !important;
      }
    }
  }
}